

.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    padding-top: 4em;
    padding-bottom: 8em;
    width: 80%;
   margin: 0 auto;
   height: 90vh;
   
}
.hero-container h1 {
  font-family: "Space Mono";
  font-weight: bold;
  font-style: italic;
}
.hero-container p {
    font-family: "Space Mono";
    font-weight: 200;
  
    animation: fadeInAnimation ease-in-out 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

.hero-right {
    display: flex;
    flex-direction: column;
    padding: 3em;
}
.hero-left {
    width: 100%;
}
.hero-left img {
    width: 100%;
  max-width: 400px;
  height: auto;
}


@keyframes fadeInAnimation {
    0% {
        word-spacing: 100px;
        color: red;
    }
    25% {
        word-spacing: 75px;
        color:green;
     }
     50% {
        word-spacing: 50px;
        color:blue;
     }
     75% {
        word-spacing: 20px;
        color: burlywood;
     }
    100% {
        word-spacing: 5px;
     }
}

@media only screen and (min-width: 1900px) {

.hero-left {
    text-align: center;
    width: 60%;
}
.hero-left img
{
    width: 50%;
}
.hero-right {
    width: 60%;
}
}

@media only screen and (min-width: 1000px) {

    .hero-left {
        text-align: center;
        width: 50%;
    }
    .hero-left img
    {
    }
    .hero-right {
        width: 60%;
    }
    .buttons a{
        text-align: center;
        margin: 1em auto;
    }
    }