.navbar {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    
      
}

.navbar-left {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

}


.navbar-left  a {
    text-decoration: none;
    color: black;
        
    font-family: "Space Mono";
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

.navbar-left  a:hover {
    color: rgb(43, 207, 152);
}

.navbar-left img{
    width: 50%;
    height: auto;
   
}

.navbar-right a {
    background-color: rgb(71, 0, 137);
    color: white;
    text-decoration: none;
    padding: 0.6em 1em;
        
    font-family: "Space Mono";
    font-weight: lighter;

}